/* pages/demo07/demo07.wxss */
/* 定义变量*/
@color: yellow;

text {
    /* 使用变量 */
    color: @color;
}

view {
    .vie1 {
        text {
            color: red;
        }
    }
}

@import '../../styles/reset.less';
view {
    color: @themeColor;
}